.showcase-section-1 {
  position: relative;
  img {
    width: 100%;
  }
  .showcase-text {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-30%, -50%);
    min-width: 300px;
    h1 {
      font-weight: 700;
      color: #fff;
    }
  }
}

.showcase-section-2 {
  position: relative;
  img {
    width: 100%;
  }
  .showcase-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-70%, -50%);
    h1 {
      font-weight: 700;
      color: #000;
    }
  }
}

.showcase-section-1b {
  position: relative;
  height: 100%;
  img-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    img {
      position: absolute;
      object-fit: cover;
      height: 100%;
    }
  }

  .showcase-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    max-width: 400px;
    h1 {
      font-weight: 700;
      color: #000;
    }
  }
}

.showcase-section-2b {
  position: relative;
  height: 100%;
  img-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    img {
      position: absolute;
      object-fit: cover;
      height: 100%;
    }
  }
  .showcase-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-70%, -50%);
    h1 {
      font-weight: 700;
      color: #000;
    }
  }
}